<footer>
    <div class="contact-hours">
        <!-- Contact information -->
        <div class="contact">
            <h3>Contact Us</h3>
            <p>Email: wasifanton@gmail.com</p>
            <p>Phone: 0544-683-385</p>
        </div>
         <!-- Business hours information -->
        <div class="hours">
            <h3>Business Hours</h3>
            <p>Monday - Friday: 9am - 6pm</p>
            <p>Saturday: 10am - 4pm</p>
            <p>Sunday: Closed</p>
        </div>
    </div>
    <!-- Copyright notice -->
    <p>&copy; 2024 Spiritual Drinks Shop. All Rights Reserved.</p>
</footer>
</body>
</html>
