<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <title>Document</title> -->
  <link rel="stylesheet" href="/styles.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" rel="stylesheet">
  <!-- <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> -->
</head>

<body>
  <nav class="nav">
    <h2><a href="/">Spiritual Drinks Shop</a></h2>
    <ul>
      <% if (user) { %>
       <li><a href="/">Home</a></li>
       <li><a href="/order">Order Now</a></li> 
        <li><a href="/order/cart"><i class="fa fa-cart-shopping"></i></a></li>
        <li><a href="/profile"><i class="fa-regular fa-user"></i></a></li>

        <p>Welcome, <%= user.firstname %>
            <%= user.lastname %>
      </p>
        <li><a href="/logout">Log out</a></li>
        <% } else { %>
          <li><a href="/login">Log in</a></li>
          <li><a href="/signup" class="btn">Sign up</a></li>
          <% } %>
    </ul>
  </nav>
  <script>
     document.addEventListener("DOMContentLoaded", function () {
            window.addEventListener("scroll", function () {
                var scrollPosition = window.scrollY;
                var scrollRange = 40; // Set your scroll range here

                // Check if the scroll position is beyond the scroll range
                if (scrollPosition > scrollRange) {
                    document.body.classList.add("scrolled");
                } else {
                    document.body.classList.remove("scrolled");
                }
            });
        })
  </script>