<%- include('partials/headerAdmin'); -%>

<header>
    <div class="wine">
        <img src="/wine.png" alt="">
    </div>
    <div class="headings">
        <h3>You need to log in admin!</h3>
    </div>
</header>


<%- include('partials/footer'); -%>