<%- include('partials/header'); -%>

<head>
  <title>Error Login</title>
</head>

<!-- Error message -->
<!-- When user click on Shop Now without login in -->
<header>
  <div class="wine">
    <img src="/wine.png" alt="" />
  </div>
  <div class="headings">
    <h3>In order to start shopping, you need to log in!</h3>
  </div>
</header>

<%- include('partials/footer'); -%>
