<!DOCTYPE html>
<html lang="en">
  <%- include('partials/header'); -%>

  <head>
    <title>Reset Password</title>
  </head>

  <script>
    var status = "<%- JSON.stringify(status) %>";

    if (JSON.parse(status) === "verified") {
      if (confirm("Do u want to login?")) {
        window.location.href = "http://localhost:3000/login";
      }
    } else if (JSON.parse(status) === "error") {
      alert("not the same password try again.");
    }
  </script>

  <body>
    <h1><%= email%></h1>
    <form action="" method="post">
      <!-- Password & COnfirm password -->
      <label for="passsword">Password</label>
      <input type="password" name="password" id="password" placeholder="Enter your new password" /><br />

      <label for="confirm-password">Confirm Password</label>
      <input type="password" name="confirmpassword" id="confirm-password" placeholder="Confirm your new password" /><br />

      <input type="submit" value="RESET" class="btnadd" />
    </form>
  </body>
</html>
